<div class="list list-inset list-actions" id="station-actions-{{listId}}-{{station.id}}" style="display: none">
	<span class="item list-action-item actions-station-not-operational" ng-hide="station.status == 'OPN'">
		<span class="button button-assertive">
			<i class="ion-flash small-padding-right"></i>
			Not operational
			<i class="ion-flash small-padding-left"></i>
		</span>
	</span>
	<span class="item item-button list-action-item actions-save-station" ng-hide="!actions.save || station.saved">
    		<button class="button" ng-click="addToSavedStations(station)">
			Save station<i class="ion-plus-circled padding-left"></i>
		</button>
	</span>
	<span class="item item-button list-action-item actions-save-station" ng-hide="!actions.save || !station.saved">
    		<button class="button item-button-right" ng-click="removeFromSavedStations(station)">
			Remove station<i class="ion-minus-circled padding-left"></i>
		</button>
	</span>
	<span class="item item-button list-action-item actions-location-station" ng-hide="!actions.map">
    		<a class="button item-button-right" ng-href="https://maps.google.com/maps?z=15&t=m&q=loc:{{station.lat}}+{{+station.lon}}" target="_blank">
			Show on map<i class="ion-location assertive padding-left"></i>
		</a>
	</span>
	<span class="item item-button list-action-item actions-reorder-station" ng-hide="!actions.reorder">
    		<button class="button" ng-click="moveUp($index)">
			Move up<i class="ion-arrow-up-c padding-left"></i>
		</button>
	</span>
	<span class="item item-button list-action-item actions-reorder-station" ng-hide="!actions.reorder">
    		<button class="button" ng-click="moveDown($index)">
			Move down<i class="ion-arrow-down-c padding-left"></i>
		</button>
	</span>
</div>
