<!--ion-view>
    <!- - header - ->
    <ion-nav-view name="header" class="bar bar-footer"></ion-nav-view>

    <!- - content - ->
    <ion-nav-view name="saved"></ion-nav-view>
    <ion-nav-view name="search"></ion-nav-view>

    <!- - footer - ->
    <!- -ion-nav-view name="footer" class="bar bar-footer bar-balanced"></ion-nav-view- ->
</ion-view-->
<ion-tabs class="tabs-icon-bottom">

  <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/saved">
    <ion-nav-view name="saved"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true">
    <ion-nav-view name="station"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Search" icon-off="ion-search" icon-on="ion-search" href="#/search/station">
    <ion-nav-view name="search"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Route" icon-off="ion-android-bicycle" icon-on="ion-android-bicycle" href="#/route">
    <ion-nav-view name="route"></ion-nav-view>
  </ion-tab>

</ion-tabs>
