<main>
	<ion-view view-title="Search">
		<ion-tabs class="tabs-top">
			<ion-tab title="Station" href="#/search/station">
				<ion-nav-view name="search-station" class="has-subheader bottom-scroll-has-tabs"></ion-nav-view>
			</ion-tab>
			<ion-tab title="Nearby" href="#/search/nearby">
				<ion-nav-view name="search-nearby" class="has-subheader bottom-scroll-has-tabs"></ion-nav-view>
			</ion-tab>
			<ion-tab title="Address" href="#/search/address">
				<ion-nav-view name="search-address" class="has-subheader bottom-scroll-has-tabs"></ion-nav-view>
			</ion-tab>
		</ion-tabs>
	</ion-view>
</main>
